*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: linear-gradient(to bottom,#FFFFFF,#BAD6EA,#BAD6EA);
    min-height:100vh;
    padding-top:80px;
}
/* Navigation bar */
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
    background:transparent;
    backdrop-filter:blur(10px);
    z-index:1000;
}
.logo img{
    width:200px;
}
.navtype{
    display:flex;
    list-style:none;
    gap:85px;
}
.navtype li{
    transition: 0.20s;
}
.navtype li:hover{
    transform: scale(1.3);
    letter-spacing: 1px;
}
.navtype a{
    color:black;
    text-decoration:none;
    font-size:20px;
    font-weight:600;
}
.navtype a:hover{
    color:#1A80F5;
}
.loginbtn{
    border:3px solid #1A80F5;
    padding:8px 25px;
    border-radius:8px;
    text-decoration:none;
    color:black;
    font-size:20px;
    font-weight:600;
    transition: 0.4s;
}
.loginbtn:hover{
    background-color: #1A80F5;
    color: white;
}
.loginbtn:active{
    transform: scale(1);
}
.mobilelogin{
    display:none;
}
.menutoggle{
    display:none;
    font-size:30px;
    cursor:pointer;
}
/* Hero Section */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:120px 50px;
}
.herotext{
    max-width:800px;
}
section{
    font-size:45px;
    color:#1D2C68;
}
/*text animation*/
.text{
    margin-top:40px;
    font-weight:bold;
}
#text{
    color:#534D4D;
    border-right:3px solid white;
    padding-right:5px;
    animation: cursor .7s infinite;
}
@keyframes cursor{
    50%{
        border-color:transparent;
    }
}
/*butto 2*/
.buttons{
    margin-top:70px;
    display:flex;
    gap:40px;
}
button{
    padding:15px 42px;
    font-size:25px;
    border-radius:10px;
    cursor:pointer;
}
#getstartbtn{
    background-color: #1A80F5;
    color: white;
    font-weight: 300;
    border: 3px solid #1A80F5;
    transition: 0.4s;
}
#getstartbtn:hover{
    background-color: #1a63b8;
    border: 3px solid #1a63b8;
    color: wheat;
}
#getstartbtn:active{
    transform: scale(0.92);

}
#ExploreResources{
    background-color: transparent;
    border: 3px solid #1A80F5;
    color: #1A80F5;
    font-weight: 300;
    transition: 0.4s;
}
#ExploreResources:hover{
    background-color: #1A80F5;
    color: white;
}
#ExploreResources:active{
    transform: scale(0.92);
}
/* Image */
.homeimage img{
    width: 800px;
    max-width:800px;
}
/* Footer */
.footer{
    margin-top:140px;
    padding:40px;
    background:#161C33;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.footerlogo img{
    width:200px;
}
.footerlogo p{
    color:wheat;
    width:280px;
}
.link{
    color: wheat;
}
.link a{
    color:wheat;
    text-decoration:none;
}
.qlink{
    list-style:none;
}
.qlink li{
    margin:15px;
}
.about{
    color:wheat;
    max-width:400px;
}
.about p{
    margin: 15px;
}
.f0llowus{
    color: wheat;
}
.iconfooter{
    margin: 10px;
    font-size: 25px;
}
.iconfooter a{
    text-decoration: none;
    color: wheat;
}
/*login popup eka */
.modaloverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}
.modaloverlay.active{
    display: flex;
    opacity: 1;
}
.modalcontainer{
    background-color:white;
    width: 500px; 
    height: 600px;
    max-width: 90%;
    max-height: 90%;
    border-radius: 32px;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}
.modaloverlay.active .modalcontainer{
    transform: scale(1);
}
.closebtn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #f0f0f0;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: 0.2s;
}
.closebtn:hover{
    background-color: #e2e2e2;
}
.formcontainer{
    display: none; 
    flex-direction: column;
}
.formcontainer.active{
    display: flex;
}
.modalleft{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.modalleft h2{
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
}
.formgroup{
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.formgroup label{
    display: block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    margin-bottom: 7px;
    color: #333;
    text-align: left;
    padding-left: 5px;
}
.formgroup input{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 16px;
    border: 2px solid #cdcdcd;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
}
.formgroup input:focus{
    border-color: #0076d3;
}
.submitbtn{
    width: 100%;
    padding: 12px;
    background-color: #e60023; 
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 10px;
}
.submitbtn:hover{
    filter: brightness(90%);
}
/* Mobile Respon */
@media(max-width:768px){
    .navbar{
        padding:0 20px;
        height:70px;
    }
    .logo img{
        width:130px;
    }
    .navtype{
        display:flex;
        position:absolute;
        top:70px;
        left:-100%;
        width:100%;
        background:rgba(255, 255, 255, 0.856);
        backdrop-filter:blur(15px);
        -webkit-backdrop-filter:blur(15px);
        flex-direction:column;
        gap:25px;
        text-align:center;
        padding:30px 0;
        transition:.4s;
        box-shadow:0 5px 15px rgba(0,0,0,.1);
        z-index:999;
    }
    .navtype.active{
        left:0;
    }

    .mobilelogin{
        display:block;
    }

    .mobilelogin a{
        color:black;
        text-decoration:none;
        font-size:20px;
        font-weight:600;
    }
    .menutoggle{
    display:block;
    }
    .loginbtn{
    display:none;
    }
    .hero{
        flex-direction:column;
        padding:80px 20px;
        text-align:center;
    }
    section{
        font-size:35px;
    }
    .text{
        margin-left:0;
    }
    .buttons{
        flex-direction:column;
        align-items:center;
    }
    button{
        width:250px;
    }
    .homeimage{
        margin-top:50px;
    }
    .homeimage img{
        max-width:350px;
    }
    .footer{
        flex-direction:column;
        gap:30px;
        text-align:center;
    }
    .footerlogo p{
        margin:auto;
    }
    .modalcontainer{
        width: 350px;
        flex-direction: column;
    }
    .about{
        text-align: center;
        margin-left: 39px;
    }
}
/*tablet respon*/
@media screen and (max-width:1024px){
    .navbar{
        padding:0 30px;
        height:70px;
    }
    .logo img{
        width:160px;
    }
    .navtype{
        gap:35px;
    }
    .navtype a{
        font-size:17px;
    }
    .loginbtn{
        padding:8px 18px;
        font-size:17px;
    }
    .hero{
        padding:80px 40px;
        gap:40px;
        align-items:center;
    }
    .herotext{
        max-width:500px;
    }
    section{
        font-size:34px;
    }
    .text{
        margin-top:25px;
        font-size:20px;
    }
    .buttons{
        margin-top:40px;
        gap:20px;
        flex-wrap:wrap;
    }
    button{
        padding:13px 30px;
        font-size:20px;
    }
    .homeimage img{
        width:420px;
        max-width:100%;
    }
    .footer{
        padding:35px;
        gap:40px;
    }
    .footerlogo img{
        width:170px;
    }
    .footerlogo p{
        width:240px;
        font-size:15px;
    }
    .about{
        max-width:280px;
    }
    .about h2,
    .link h2,
    .f0llowus h2{
        font-size:22px;
    }
    .about p,
    .link a{
        font-size:15px;
    }
    .iconfooter{
        font-size:22px;
    }
    .modalcontainer{
        width:450px;
        height:560px;
    }
    .modalleft{
        padding:30px;
    }
    .modalleft h2{
        font-size:24px;
    }
    .formgroup label{
        font-size:18px;
    }
    .formgroup input{
        font-size:15px;
    }
    .submitbtn{
        font-size:15px;
    }
}